[Desktop Entry]
Name=Game Mode
Exec=qdbus org.kde.Shutdown /Shutdown org.kde.Shutdown.logout
Icon=/usr/share/icons/hicolor/scalable/apps/game_mode.svg
Terminal=false
Type=Application
StartupNotify=false
